<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Octokit.NET Demo</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Emojis", "Emojis", "Home")</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
